section {
    margin-top: 100px;
}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
}

div:nth-of-type(2n) {
    background-color: yellow;
}

div:nth-of-type(3n) {
    background-color: orange;
}

#one {
    transform: rotate(45deg);
}

#two {
    transform: scale(0.7);
}
#three {
    transform: scale(0.5, 1);
}
#four {
    transform: translate(50px, 40px);
}

#five {
    transform: skew(20deg);
}

#six {
    transform: rotate(30deg) translate(50px);
    box-shadow: 20px 30px 20px yellow;
}

#dog{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url("./Dog2.jpg");
    background-size: cover;
    color: red;
}